﻿
<div class="container-fluid search-bar form-horizontal btm-page-search" >
        <form role="form" id="startForm" method="post" name="startForm" ng-submit="search(productName)">
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label class="control-label col-md-3">Categories</label>
                        <div class="col-md-9">
                            <!--<select id="select_value" data-ng-model="selectedDepartment" class="form-control" ng-options="dept for dept in productDetails track by dept" ng-change="getBudgetItems(selectedDepartment)">-->
                            <select id="select_value" data-ng-model="selectedDepartment" class="form-control" ng-options="dept for dept in productDetails track by dept">
                                <option value="">Select a department to search</option>
                            </select>

      <!--  <select class="form-control">
          <option  ng-repeat="option in productDetails" value="{{option}}">{{option}}</option>
        </select> -->
                      </div>
                  </div>
              </div>


                <!--Search through text 15-12-18 -->
                <div class="col-lg-7">
                    <div class="form-group">
                        <label class="control-label col-md-3">Search</label>
                        <div class="col-md-9" ng-class="{ 'has-error' : startForm.prodName.$invalid && !startForm.prodName.$pristine }">
                            <div class="input-group">
                                <!--Enter some text above to shop our available inventory-->
                                <!--<input type="text" ng-model="productName" placeholder="Enter some text to shop"  maxlength="50" name="prodName" id="prodName" class="form-control" ng-keyup="getProductName(productName)" required>-->
                                <!--<input type="text" ng-model="productName" placeholder="Enter some text to shop"  maxlength="50" name="prodName" id="prodName" class="form-control" required>-->
                                <input type="text" ng-model="productName" placeholder="Enter some text to shop"  maxlength="50" name="prodName" id="prodName" class="form-control">
                                <span class="input-group-btn">
                                    <!--<button class="btn btn-default" type="submit" ng-disabled="startForm.$invalid" ng-model="productName">-->
                                    <button class="btn btn-default" type="submit" ng-model="productName">
                                        <i class="fa fa-search"></i> <span> Search</span>
                                    </button>
                                </span>
                            </div>
                            <!--<div ng-messages="startForm.prodName.$error" ng-if="startForm.prodName.$dirty">-->
                                <!--<div ng-message="required" class="error-dark">Product Name is required.</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>

            </div>

            <div>{{apiErrorMessage}} </div>
            <!--<p ng-show="enterSomeTxt">Please select categories or Enter some text</p>-->

        </form>
</div>
    <div ui-view=""></div>


