﻿<div ng-if="ShowLoader" class="overLayGIF overLayGIF1">
    <div>
        <img class="div_img div-img-mobile" src="../assets/img/32.gif" />
    </div>
</div> 

<!--Strat Main Container-->
<div id="body-wrapper">
    <header class="fixed-head">

        <div class="header-top">
            <div class="container">
                <p class="top-content">{{storeINFO}}</p>
            </div>
        </div>

        <!--Start Top Header-->
        <nav class="navbar navbar-default nav-custom">
            <div class="container menu-box">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                   
                    <div class="main-logo"></div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </header>
    <!--End Top Header-->
    <!--Start content-->
    <div class="main-container">
        <div class="content-wrapper">
            <div class="container page-inner">
                <h4>RETRIEVE LOGIN INFORMATION</h4>
                <p class="sub-text">Your password may be reset and a temporary password e-mailed to you.</p>
                <form name="retrvForm" ng-submit="submit();" novalidate class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : retrvForm.emailAdd.$invalid && !retrvForm.emailAdd.$pristine }">
                            <div class="">
                                <label>E-MAIL ADDRESS</label>
                                <input type="email" name="emailAdd" ng-model="emailAdd" class="form-control" placeholder="" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
                            </div>

                            <div ng-messages="retrvForm.emailAdd.$error" ng-if="retrvForm.emailAdd.$dirty">
                                <div ng-message="required" class="error">Email is required.</div>
                                <div ng-message="pattern" class="error">Please enter a valid email.</div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : retrvForm.accountNo.$invalid && !retrvForm.accountNo.$pristine }">
                            <div class="">
                                <label class="margin-top15">ACTIVE AGREEMENT NUMBER</label>
                                <input type="text" name="accountNo" ng-model="accountNo" class="form-control" placeholder="" required>
                            </div>
                            <div ng-messages="retrvForm.accountNo.$error" ng-if="retrvForm.accountNo.$dirty">
                                <div ng-message="required" class="error">Account no. is required.</div>
                            </div>  

                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : retrvForm.CodeNumberTextbox.$invalid && !retrvForm.CodeNumberTextbox.$pristine }">
                            <div class="">
                                <div class="captcha-sec">
                                    <label id="mainCaptcha">{{capchaVal}}</label>
                                    <div class="vol-ref-sec">
                                        <a id="speak" ng-click="speak();"> <i class="fa fa-volume-up" aria-hidden="true"></i></a>
                                        <a ng-click="Refresh();"> <i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <label>Enter the code shown above</label>
                                <input type="text" id="" name="CodeNumberTextbox" ng-model="CodeNumberTextbox" class="form-control" placeholder="" required>
                            </div>

                           

                            <div ng-messages="retrvForm.CodeNumberTextbox.$error" ng-if="retrvForm.CodeNumberTextbox.$dirty">
                                <div ng-message="required" class="error">Captcha is required..</div>
                            </div>  

                        </div>
                    </div>

                 
                    <div id="dis1" class="error">{{message}}</div>
                    <div id="dis2" class="error">{{apiErrorMessage}}</div>

                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <a href="#/LogIn">Return to Login</a>
                        </div>
                        <div class="col-sm-6 text-right">
                            <input type="submit" ng-disabled="retrvForm.$invalid" value="Send Password " class="btn btn-success">
                        </div>
                    </div>


                </form>




            </div>

        </div>
    </div>
    <div class="clear"></div>
    <div class="footer">
        <p>© Copyright 2016  |   <a href="#/ReportIssue">Report Issue</a>  |  Version {{ versionNo}}</p>
    </div>
</div>
<!--End Main container-->
